body{
    padding: 100px;
}
.submited-area{
    margin-top: 40px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}
#transection-area{
    display: none;
}
.status{
    margin: 0 20px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}
.deposit{
    background-color: salmon;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}